*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, rgba(4, 28, 50, 1)100%, rgba(95, 30, 148, 1)100%);
}
a{
    text-decoration: none;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-size: 45px;
}
.imagen{
    filter: invert(50%);
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.imagen:hover{
    filter: invert(100%);
    transition: all 0.6s ease-in-out ;
    transform: scale(1.25);
}
.contenedor{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.borde{
    margin-top: 100px;
    border-radius: 15px;
    background: linear-gradient(27deg, #c7f9cc 0%, #22577a 150%);

}

.box{
    position: relative;
    background:linear-gradient(27deg, #c7f9cc 0%, #22577a 150%);
    border-radius: 15px;
    text-align: center;
    align-items: center;
    width: 550px;
    height: 250px;
}
.box:before{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(27deg, #c7f9cc 0%, #22577a 150%);
    filter: blur(20px);
    transition: opacity 0.3s;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 250px;
}
.time p{
    color: aliceblue;
    font-size: 125px;
    letter-spacing: 7px;
    font-weight: 300;
}
.time .puntos{
    margin: 0px 10px 15px 10px;
}
.indicadores{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    height: 50px;

}
.ahora{
    font-weight: 700;
    font-size: 45px;
    background: linear-gradient(27deg, #c7f9cc 0%, #22577a 150%);
    -webkit-background-clip: text;
    color: transparent;
    transition: font-weight 0.5s, font-size 0.5s;
}

.luego{
    font-weight: 100;
    font-size: 35px;
    transition: font-weight 0.5s, font-size 0.5s;
}


